/* ======color variables======= */
:root{
    --bg-color: linear-gradient(to bottom right, #eeeeee, #e0e3eb);
    --white-color: #ffffff;
    --black-color: #000e1a;
    --orange-color: #ffa500;
    --medium-dark: #333333;
    --light-gray: #cccccc;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-color);
}

.container{
    max-width: 400px;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    background: var(--black-color);
    color: var(--white-color);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.display-container{
    display: flex;
    flex-direction: column;
    margin-block: 40px 30px;
}

.history{
    width: 100%;
    height: 30px;
    text-align: right;
    color: var(--light-gray);
    font-weight: 300;;
}

.display{
    font-size: 50px;
    font-weight: 100;
    height: 70px;
    width: 100%;
    text-align: right;
    outline: none;
    border: none;
    pointer-events: none;
    background: transparent;
    color: var(--white-color);
}

::placeholder{
    color: var(--white-color);
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}

.buttons button{
    width: 75px;
    height: 75px;
    font-size: 24px;
    font-weight: 300;
    background-color: var(--medium-dark);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.buttons .operator{
    background-color: var(--orange-color);
    color: var(--black-color);
}

.buttons button:active{
    transform: scale(0.9);
}

button.value-zero{
    width: calc(50% - 8px);
    border-radius: 50px;
    text-align: left;
    padding-left: 30px;
}

/* ======responsive====== */
@media screen and (max-width: 376px) {
    body{
        background: var(--black-color);
    }
    .display{
        font-size: 40px;
    }
    .buttons{
        row-gap: 10px;
    }
    .buttons button{
        width: 55px;
        height: 55px;
        font-size: 20px;
    }
    .container{
        max-width: 300px;
    }
    button.value-zero{
        width: calc(50% - 8px);
        border-radius: 50px;
        text-align: left;
        padding-left: 30px;
    }
}